.weather-icon {
    width: 30px; 
    height: 30px;
    background-size: cover;
    transition: transform 0.3s ease;
}

.weather-icon:hover {
    transform: scale(1.1);
}

.clear {
    background-image: url('./icons/sunny.png');
}

.clouds {
    background-image: url('icons/cloud.png');
}

.rain {
    background-image: url('icons/heavy-rain.png');
}

.snow {
    background-image: url('icons/snow.png');
}

.default {
    background-image: url('icons/cloudy.png');
}